{% extends 'base.html' %}

{% block title %}О Брестской крепости{% endblock %}

{% block content %}
<h2>Брестская крепость</h2>
<img src="{{ url_for('static', filename='images/brest_krepost.jpg') }}" alt="Объект 1" style="max-width: 20%; height: auto; margin-bottom: 5px;">

<p>Бре́стская кре́пость (бел. Брэсцкая крэпасць, крепость Брест-Литовск) — крепость в черте города Брест (Белоруссия),<br>
    у впадения реки Мухавец в Западный Буг.<br>
    8 мая 1965 года Брестской крепости за её героическую оборону в июне-июле 1941 года присвоено звание «Крепость-герой»<br>
    — высшая степень отличия, которой удостоены единственная крепость и двенадцать городов Советского Союза,<br>
    прославившихся своей героической обороной во время Великой Отечественной войны 1941—1945 годов.
</p>

<a href="{{ url_for('home') }}">Вернуться на главную</a>
{% endblock %}

