{% extends 'base.html' %}

{% block title %}О Мирском замке{% endblock %}

{% block content %}
<h2>Мирский замок</h2>
<img src="{{ url_for('static', filename='images/mirskij_zamok.jpg') }}" alt="Объект 2" style="max-width: 20%; height: auto; margin-bottom: 5px;">

<p>Ми́рский за́мок (бел. Мірскі замак), за́мково-па́рковый ко́мплекс «Мир» (бел. замкава-палацавы комплекс «Мір»)<br>
    — оборонительное укрепление и резиденция в городском посёлке (пгт) Мир Кореличского района<br>
    Гродненской области Белоруссии. Памятник архитектуры, внесён в список Всемирного наследия<br>
    ЮНЕСКО (с 2000 года). Архитектурный комплекс включает в себя замок XVI—XX веков, валы XVII—XVIII веков,<br>
    пруд 1896—1898 годов, часовню-усыпальницу Святополк-Мирских с домом сторожа и воротами,<br>
    пейзажный и регулярный парки, дом управляющего. Находится в пгт Мир, на правом берегу реки Миранки.
</p>

<a href="{{ url_for('home') }}">Вернуться на главную</a>
{% endblock %}

